.vim/.netrwhist
.vim/bundle
.config/ranger/bookmarks
.config/ranger/history
.config/ranger/tagged
.config/i3blocks/config.backup
.ssh/environment
.ssh/known_hosts
.config/nvim/.netrwhist
.spacemacs.d/.spacemacs.env
