[user]
	email = csauer@cs.uni-kl.de
	name = Caetano Sauer
[core]
	editor = vim
	excludesfile = /home/csauer/work/hp/deptool.ignores
[merge]
	tool = kdiff3
[deptool]
	diff = difftool
	config = 2011-12-07
[alias]
	st = status
        co = checkout
        lg = log --oneline --graph
[branch]
	autosetuprebase = always
[color]
	ui = true
	status = auto
	branch = auto
[push]
	default = matching
[init]
	templatedir = ~/.git_template
