[user]
	#email = csauer@cs.uni-kl.de
	email = csauer@tableau.com
	name = Caetano Sauer
[core]
	editor = vim
[merge]
	tool = kdiff3
[alias]
	st = status
        co = checkout
        lg = log --oneline --graph --decorate
        lgall = log --oneline --graph --decorate --all
	ll = log --pretty='format:%h %<(12,trunc)%ce %cd %s' --date=short
	wd = diff --color-words='[A-z_][A-z0-9_]*'
[branch]
	autosetuprebase = always
[color]
	ui = true
	status = auto
	branch = auto
[push]
	default = current
[init]
	templatedir = ~/.git_template
