[user]
	#email = csauer@cs.uni-kl.de
	email = csauer@tableau.com
	name = Caetano Sauer
[core]
        #editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
        #pager = diff-so-fancy | less --tabs=4 -RFX --pattern '^(Date|added|deleted|modified): '
[merge]
        #tool = kdiff3
[alias]
	st = status
        co = checkout
        # lg = log --oneline --graph --decorate --branches
        # lgall = log --oneline --graph --decorate --all
        lg = log --format='%C(yellow)%h%Creset %C(cyan)%<(8,trunc)%aE%Creset%Cgreen%ad%Creset%C(auto)%d %s' --decorate --graph --branches --date=format:'%F %r'
        lgall = log --format='%C(yellow)%h%Creset %C(cyan)%<(8,trunc)%aE%Creset%Cgreen%ad%Creset%C(auto)%d %s' --decorate --graph --all --date=format:'%F %r'
	ll = log --pretty='format:%h %<(12,trunc)%ce %cd %s' --date=short
	wd = diff --color-words='[A-z_][A-z0-9_]*'
	ctags = !.git/hooks/ctags
	shead = show HEAD
	amd = commit --amend
        ap = add -p
        rb = rebase -i
        rbcont = rebase --continue
        showstat = show --stat --format='%s%nAuthor: %an%nCommiter: %cn'
[branch]
	autosetuprebase = always
[color]
	ui = true
	status = auto
	branch = auto
[push]
	default = current
[init]
	templatedir = ~/.git_template
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse
