Xcursor.theme: whiteglass
!
! urxvt
URxvt*buffered: true
URxvt*cursorBlink: true
URxvt*underlineColor: yellow

URxvt*depth: 32
URxvt*borderless: 1
URxvt*scrollBar: false
URxvt*loginShell: true
! Enable Shift-PageUp/Down in screen
Urxvt*secondaryScroll:  true
URxvt*saveLines: 5000
URxvt*termName: rxvt-unicode
URxvt.perl-ext-common: default,matcher,resize-font
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show

! set window property 'urgent' when bell is received
URxvt*urgentOnBell: true
URxvt*visualBell:   false

/* URxvt.font:  xft:DejaVuSansMono:size=10:antialias=true */

Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle: hintslight
URxvt.allow_bold:           true

/* ! Source Code Pro Setup */
/* URxvt.allow_bold:           true */
/* URxvt*font: xft:source code pro for powerline:regular:pixelsize=18 */
/* URxvt*imFont: xft:source code pro for powerline:regular:pixelsize=18 */
/* URxvt*boldFont: xft:source code pro for powerline:semibold:pixelsize=18 */
/* URxvt*italicFont: xft:source code pro for powerline:italic:pixelsize=18 */
/* URxvt*boldItalicFont: xft:source code pro for powerline:semibold:italic:pixelsize=18 */
/* /1* URxvt*letterSpace: -1 *1/ */

! Inconsolata Setup
URxvt*font: xft:Inconsolata-g for Powerline:regular:pixelsize=14
URxvt*imFont: xft:Inconsolata-g for Powerline:regular:pixelsize=14
URxvt*boldFont: xft:Inconsolata-g for Powerline:bold:pixelsize=14
URxvt*letterSpace: 0
URxvt*lineSpace: 1

! output of fc-list | grep consolata
/* /home/tsi/csauer/.local/share/fonts/Inconsolata for Powerline.otf: Inconsolata for Powerline:style=Medium */
/* /home/tsi/csauer/.local/share/fonts/Inconsolata-dz for Powerline.otf: Inconsolata\-dz for Powerline:style=dz */
/* /home/tsi/csauer/.local/share/fonts/Inconsolata Bold for Powerline.ttf: Inconsolata for Powerline:style=BoldForPowerline */
/* /home/tsi/csauer/.local/share/fonts/Inconsolata-g for Powerline.otf: Inconsolata\-g for Powerline:style=g */
/* /usr/share/fonts/truetype/inconsolata/Inconsolata.otf: Inconsolata:style=Medium */


/* ! Ubuntu Mono Setup */
/* URxvt.allow_bold:           true */
/* URxvt*font: xft:ubuntu mono for powerline:regular:pixelsize=18 */
/* URxvt*imFont: xft:ubuntu mono for powerline:regular:pixelsize=18 */
/* URxvt*boldFont: xft:ubuntu mono for powerline:bold:pixelsize=18 */
/* URxvt*italicFont: xft:ubuntu mono for powerline:italic:pixelsize=18 */
/* URxvt*boldItalicFont: xft:ubuntu mono for powerline:bold:italic:pixelsize=18 */
/* URxvt*letterSpace: -1 */

! Meslo Setup
/*URxvt.allow_bold:           false
URxvt*font: xft:meslo lg s for powerline:regular:pixelsize=18
URxvt*imFont: xft:meslo lg s for powerline:regular:pixelsize=18
URxvt*letterSpace: -2*/

! special
 *.foreground:   #c5c8c6
 *.background:   #1d1f21
 *.cursorColor:  #c5c8c6
! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #a54242
*.color9:       #cc6666

! green
*.color2:       #8c9440
*.color10:      #b5bd68

! yellow
*.color3:       #de935f
*.color11:      #f0c674

! blue
*.color4:       #5f819d
*.color12:      #81a2be

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #707880
*.color15:      #c5c8c6
